<form class="profile-form">
    <p class="profile-form--title">
        Tu información
    </p>
    <p class="profile-form--info">
        Completa la siguiente información para completar tu perfil
    </p>
    
    <div class="form-group">
        <div class="custom-input">
            <input type="text"/>
            <label>Nombre*</label>
        </div>
        <input type="text" placeholder="Pasatiempo favorito^"/>
        <input type="date" placeholder="Cumpleaños^"/>
        <input type="text" placeholder="Documento^"/>
    </div>

    
</form>