.test-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1240px;
    padding: 0 32px;
    column-gap: 18%;
    margin: auto;
    @media screen and (max-width: 1024px){
        flex-direction: column;
        height: auto;
        padding: 0 14px;

    }
}